@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    padding: 4em 1em;
}

.container{
    background-color: hsl(216, 50%, 16%);
    padding: 1.4em;
    border-radius: 0.8em;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
  }

.container .card_picture{
    background: url(./images/image-equilibrium.jpg) no-repeat center/cover;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 0.4em;
}

.card_picture:hover::after{
    opacity: 1;
    top: 0;
}

.card_picture::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
    border-radius: 0.4em;
    background-color: hsla(178, 100%, 50%, 0.5);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    pointer-events: none;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1em;
}

.description h2{
    margin: 1em 0em 0.5em 0em;
}

.description h2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.soft-blue{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.time{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.price{
    color: hsl(178, 100%, 50%);
    margin-right: 4em;
    font-weight: 600;
}

.time::before{
    content: url(./images/icon-clock.svg);
    margin-right: .5em;
}

.price::before{
    content: url(./images/icon-ethereum.svg);
    margin-right: .5em;
}

.line{
    width: 100%;
    height: .1em;
    background-color: hsl(215, 32%, 27%);
    margin-bottom: 1em;
}

.creator{
    display: flex;
    align-items: center;
}

.creator p{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.creator span{
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

.creator span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.creator img{
    height: 2em;
    margin-right: 1em;
    border: .1em solid hsl(0, 0%, 100%);
    border-radius: 100%;
}

.attribution{
    text-align: center;
    padding-top: 2em;
}