@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    padding: 4em 1em;
}

.container{
    width: 100%;
    background-color: hsl(216, 50%, 16%);
    padding: 1.4em;
    border-radius: 0.8em;
    margin-bottom: 2em;
}

.container .card_picture{
    background: url(./images/image-equilibrium.jpg) no-repeat center/cover;
    height: 15em;
    border-radius: 0.4em;
}

.card_picture:hover{
    cursor: pointer;
    content: url(./images/icon-view.svg);
    height: 20%;
    padding: 6.165em 6.7em;
} 

.overlay:hover{
    background-color: hsl(178, 100%, 50% ,0.4);
    height: 15em;
    border-radius: 0.4em;
    position: absolute;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1em;
}

.description h2{
    margin: 1em 0em 0.5em 0em;
}

.description h2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.soft-blue{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.time{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.price{
    color: hsl(178, 100%, 50%);
    margin-right: 4em;
    font-weight: 600;
}

.time::before{
    content: url(./images/icon-clock.svg);
    margin-right: .5em;
}

.price::before{
    content: url(./images/icon-ethereum.svg);
    margin-right: .5em;
}

.line{
    width: 100%;
    height: .1em;
    background-color: hsl(215, 32%, 27%);
    margin-bottom: 1em;
}

.creator{
    display: flex;
    align-items: center;
}

.creator p{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.creator span{
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

.creator span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.creator img{
    height: 2em;
    margin-right: 1em;
    border: .1em solid hsl(0, 0%, 100%);
    border-radius: 100%;
}